@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: var(--Light-gray);
}
:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
.main{
    position: relative;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    position: absolute;
    background-color: var(--White);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 30vh;
    padding: 12px;
    gap: 8px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: 1px 1px 30px var(--Light-gray), -1px -1px 30px var(--White);
}
.card-qr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}
.card-qr img{
    width: 100%;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding-bottom: 20px;
    width: 100%;
}
.text1, .text2{
    text-align: center;
}
.text1{
    color: var(--Dark-blue);
    font-size: 16px;
    font-weight: 700;
}
.text2{
    color: var(--Grayish-blue);
    font-size: 12px;
    font-weight: 400;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}